@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #d2f9ff79;
}

.active {
    font-weight: 600;
}

.text-muted {
    color: #606060;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    font-family: "Playfair Display",
        serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0px 1px 10px 0px #bababa;
}

.center ul {
    display: flex;
    list-style: none;
}

.center ul li {
    padding: 0 2rem;
}

.center ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.2s ease-in-out;
}

.center ul li a:hover {
    color: #595959;
}

button {
    border-radius: 11px;
    box-shadow: 2px 2px #000;
    cursor: pointer;
    border: 1px solid #000;
    transition: all 0.2s ease-in-out;
    background-color: #00b5d0;
    padding: 1rem 2rem;
    font-family: "Playfair Display",
        serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

button:hover {
    transform: scale(1.05);
    border-radius: 0;
    background-color: #00c3e3;
}

button:active {
    background-color: #00b5d0;
}

.image img {
    width: 20rem;
    height: 20rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: "Playfair Display",
        serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 5rem;
    height: 100vh;
}

.content {
    width: 50%;
    height: 100vh;
}

.content h1 {
    font-size: 3rem;
}

.content h2 {
    font-size: 1.5rem;
}

.content h1,
.content h2,
.content p {
    margin-bottom: 1rem;
}

.content p {
    line-height: 1.8;
}

.myForm input {
    border: 1px solid #000;
    border-radius: 11px;
    box-shadow: 2px 2px #000;
    margin-bottom: 1rem;
    padding: 1rem;
    font-family: "Playfair Display",
        serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    outline: none;
}

.myForm input:focus {
    outline: 4px solid #00c3e3;
}

.myForm textarea {
    border: 1px solid #000;
    border-radius: 11px;
    box-shadow: 2px 2px #000;
    margin-bottom: 1rem;
    padding: 1rem;
    font-family: "Playfair Display",
        serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    resize: none;
    outline: none;
}

.myForm textarea:focus {
    outline: 4px solid #00c3e3;
}

.myForm {
    display: flex;
    flex-direction: column;
}

.buttonArea {
    display: flex;
    gap: 0 1rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -1px 10px 0px #bababa;
    padding: 2.5rem;
    font-family: "Playfair Display",
        serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #eafcff;
}

.links ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.links ul li a {
    text-decoration: none;
}

.links ul li {
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.links ul li:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

.underline {
    border-bottom: 2px solid #c2c2c2;
    width: 20%;
    display: block;
}

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 4rem;
    }

    .content {
        width: 100%;
    }

    .image {
        padding-bottom: 20vh;
        padding-top: 5vh;
    }

    .links ul {
        gap: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .center ul li {
        padding: 0 1rem;
    }

    .image img {
        width: 18rem;
        height: 18rem;
    }
}

@media screen and (max-width: 650px) {
    .center ul li {
        padding: 1.5rem 1rem;
    }

    .container {
        padding: 2rem;
    }

    .navbar {
        flex-direction: column;
    }

    .image img {
        width: 15rem;
        height: 15rem;
    }
}